<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>development</id>
       <repositories>
        <repository>
          <id>releases</id>
          <url>http://releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <url>http://snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>development</activeProfile>
  </activeProfiles>
  <mirrors>
    <mirror>
      <id>another-snapshots</id>
      <mirrorOf>snapshots</mirrorOf>
      <url>
        http://another-mirro/nexus/content/repositories/snapshots
      </url>
    </mirror>
    <mirror>
      <id>another-releases</id>
      <mirrorOf>releases</mirrorOf>
      <url>http://another-mirro/nexus/content/repositories/releases
      </url>
    </mirror>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://another-nexus/nexus/content/groups/public/</url>
    </mirror>
  </mirrors>
</settings>